@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}

*{
  user-select: none;
}

/* --------------slider-container--------------- */

.slick-prev,
.slick-next {
  display: none !important;
}

.slick-slide {
  padding: 0 10px;
}

.slick-dots li button:before {
  font-size: 12px;
}



